.container{
    display: grid;
    grid-template-columns: repeat(5,auto);
    background-color: black;
    padding: 40px;
    justify-content: space-between;
    
}
.main p{
    color: white;
}
.main{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.main h3{
    color: white;
}
.icon{
    display: flex;
    gap: 10px;
    cursor: pointer;
}


@media screen and (max-width:992px) {
    .container{
        grid-template-columns: repeat(3,auto);
        grid-row-gap: 70px;
    }
}
@media screen and (max-width:552px) {
    .container{
        grid-template-columns: repeat(2,auto);
        grid-row-gap: 70px;
    }
}